{{#if userBookshelf.items}}
  {{#each userBookshelf.items as |book|}}
    <h4>{{#link-to 'book' book.id}}<img src= {{book.image}} alt="book icon" class="book-icon"/>{{/link-to}} {{book.name}} | {{book.author}}</h4>
  {{/each}}
  <hr>
  {{else}}
  <h3>You do not have any books on your bookshelf yet. Add some!</h3>
{{/if}}
