<nav class="navbar navbar-default">
  <div class="hero-unit">
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
        <li>{{#link-to 'bookshelf'}}My Bookshelf{{/link-to}}</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>{{#link-to 'humor'}}Humor{{/link-to}}</li>
            <li>{{#link-to 'mystery'}}Mystery{{/link-to}}</li>
            <li>{{#link-to 'fiction'}}Fiction{{/link-to}}</li>
            <li>{{#link-to 'romance'}}Romance{{/link-to}}</li>
            <li>{{#link-to 'young-adult'}}Young Adult{{/link-to}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
